@font-face {
  font-family: 'OpenSansCondLight';
  src: url('../font/OpenSansCondLight.eot');
  src: url('../font/OpenSansCondLight.eot') format('embedded-opentype'), url('../font/OpenSansCondLight.woff2') format('woff2'), url('../font/OpenSansCondLight.woff') format('woff'), url('../font/OpenSansCondLight.ttf') format('truetype'), url('../font/OpenSansCondLight.svg#OpenSansCondLight') format('svg');
}

@font-face {
  font-family: 'PT Sans Bold';
  src: local('PT Sans Bold'), url('../font/pt sans bold.ttf') format('truetype');
}

body {
  font-size: 0.625em;
}

.link-common {
  text-decoration: none;
}

.list-common {
  padding: 0;
  margin: 0;
  list-style: none;
}

.media-common {
  max-width: 100%;
}

.text-common {
  padding: 0;
  margin: 0;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}


/* --HEADER--------------------------------------- */

.header {
  padding-top: 36px;
  padding-bottom: 58px;
  color: #767676;
}

.header::after {
  display: table;
  content: "";
  clear: both;
}

.header__logo {
  float: left;
  padding-top: 29px;
}

.header__company-name {
  display: none;
  color: #767676;
}

.header__company-slogan {
  display: none;
  color: #767676;
}

.header__contacts {
  float: right;
  width: 270px;
  text-align: right;
}

.header-contacts__phones {
  display: inline-block;
  font: 4em/1.15em "OpenSansCondLight", Arial, sans-serif;
  /*40/46*/
  letter-spacing: 1px;
  color: #767676;
}

.header-contacts__feedback-link {
  font: 2.4em/1.92em "PT Sans Bold", Arial, sans-serif;
  /*24/46*/
  color: #767676;
}

.header-contacts__feedback-link:hover {
  border-bottom: 2px dashed #767676;
}


/* --MENU--------------------------------------- */

.main-menu {
  background-color: #777777;
}

.main-menu__element {
  display: inline-block;
  vertical-align: top;
}

.main-menu__link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 23px;
  padding-right: 23px;
  font: 3em "PT Sans", Arial, sans-serif;
  color: #ffffff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.main-menu__link:hover {
  text-shadow: 0 0 3px #ffffff;
}

.main-menu__link_1 {
  padding-left: 33px;
  padding-right: 29px;
}

.main-menu__link_2 {
  padding-left: 16px;
  padding-right: 22px;
}

.main-menu__link_3 {
  padding-left: 15px;
  padding-right: 22px;
  word-spacing: 0.19em;
}

.main-menu__link_4 {
  padding-left: 8px;
  padding-right: 24px;
}

.main-menu__link_5 {
  padding-left: 19px;
  padding-right: 0px;
}

.main-menu__link::after {
  position: absolute;
  top: 24px;
  right: 0;
  content: "";
  width: 2px;
  height: 26px;
  background-color: #ffffff;
}

.main-menu__element:last-of-type .main-menu__link::after {
  display: none;
}


/* --SLIDER--------------------------------------- */

.slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 398px;
  overflow: hidden;
  text-align: center;
}

.container_slider {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}

.slider__input {
  display: none;
}

.slider__switch {
  position: absolute;
  top: 157px;
  display: block;
  width: 34px;
  height: 61px;
  cursor: pointer;
}

.slider__switch_left {
  left: 161px;
  background: url('../img/slider__switch_left.png') no-repeat center;
}

.slider__switch_right {
  right: 185px;
  background: url('../img/slider__switch_right.png') no-repeat center;
}

.slider__slide {
  display: none;
}

#slider-r1:checked ~ .slider__wrapper .slider__slide_1,
#slider-r2:checked ~ .slider__wrapper .slider__slide_2 {
  display: block;
}

.slider__wrapper {
  width: inherit;
  height: 398px;
}

.slider__slide_1 {
  width: inherit;
  height: inherit;
  background: url('../img/slider__slide1.png') no-repeat 32px -60px;
  background-size: auto;
}

.slider__slide_2 {
  width: inherit;
  height: inherit;
  background: url('../img/slider__slide2.png') no-repeat 32px -60px;
  background-size: auto;
}


/* --CATALOG--------------------------------------- */


/* --CATALOG__breadcrumbs-- */

.catalog__breadcrumbs {
  padding-top: 10px;
  padding-bottom: 20px;
}

.catalog__breadcrumb,
.catalog__breadcrumb_active {
  margin-right: 5px;
  font: 1.4em/1.29em "PT Sans", Arial, sans-serif;
  /*14/18*/
  letter-spacing: 0.04em;
  color: #767676;
}

.catalog__breadcrumb:hover {
  font-weight: 900;
}

.catalog__breadcrumb_active {
  margin-right: 0px;
  margin-left: 5px;
}


/* --CATALOG__main-content-- */

.catalog__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}


/* --CATALOG__leftblock-- */

.catalog__leftblock {
  width: 200px;
}

.catalog__menu-link,
.catalog__menu-link_active {
  font: 1.8em/1.67em "PT Sans", Arial, sans-serif;
  /*18/30*/
  letter-spacing: 0.035em;
  color: #767676;
}

.catalog__menu-link:hover {
  text-decoration: underline;
  color: #000000;
}

.catalog__menu-link_active {
  text-decoration: underline;
}

.catalog__submenu {
  display: none;
  padding-top: 0px;
  padding-left: 20px;
  margin: 0;
}

.catalog__submenu_active {
  display: block;
}

.catalog__submenu-link {
  position: relative;
  font: 1.4em/1.57em "PT Sans", Arial, sans-serif;
  /*14/22*/
  color: #767676;
}

.catalog__submenu-link::before {
  position: absolute;
  top: 7px;
  left: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #767676;
  content: "";
}

.catalog__pricelist {
  padding-top: 105px;
  text-align: center;
}

.catalog__pricelist-img {
  padding-left: 0px;
}

.catalog__pricelist-name {
  display: block;
  padding-left: 16px;
  font: 3em/0.83em "PT Sans Bold", Arial, sans-serif;
  /*30/25*/
  letter-spacing: 0.035em;
  text-align: center;
  color: #444444;
}

.catalog__pricelist-link:hover .catalog__pricelist-img {
  box-shadow: 0 0 5px 5px #444444;
}

.catalog__pricelist-link:hover .catalog__pricelist-name {
  text-shadow: 0 0 3px #444444;
}


/* --CATALOG__centerblock-- */

.catalog__centerblock {
  width: 780px;
  padding-top: 5px;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 347px;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 20px 20px 13px 5px;
  background-color: #dcdcdc;
  overflow: hidden;
}

.catalog__item:hover {
  color: red;
  box-shadow: 0 0 5px 5px #dcdcdc;
}

.catalog__item:nth-of-type(3n) {
  margin-right: 0;
}

.catalog__item-img {
  padding-left: 20px;
  margin-bottom: 20px;
}

.catalog__item-description {
  font: 1.8em/1em "PT Sans", Arial, sans-serif;
  /*18/18*/
  letter-spacing: 0.03em;
  text-align: left;
  color: #767676;
}

.catalog-item__price-block {
  position: relative;
  width: 100%;
  min-height: 25px;
  margin-top: auto;
}

.catalog__item-price {
  padding-left: 15px;
  font: 2.8em/0.64em "PT Sans Bold", Arial, sans-serif;
  /*28/18*/
  color: #444444;
}

.catalog__cart-icon {
  position: absolute;
  top: 0;
  right: 16px;
}

.catalog__nav-bar {
  padding-top: 5px;
  padding-left: 22px;
  padding-bottom: 57px;
  text-align: center;
}

.catalog__nav-elem {
  display: inline-block;
  margin-right: 18px;
}

.catalog__nav-link {
  font: 1.4em/1.57em "PT Sans", Arial, sans-serif;
  /*14/22*/
  text-align: center;
  color: #767676;
}

.catalog__nav-link:hover {
  font-weight: bold;
  color: red;
}

.catalog__nav-link_active {
  font: 1.8em/1.67em "PT Sans", Arial, sans-serif;
  /*18/30*/
  color: red;
}


/* --COMPANY-About----------- */

.company-about {
  padding-top: 25px;
  padding-bottom: 210px;
  border-top: 2px solid #444444;
}

.company-about::after {
  display: table;
  clear: both;
  content: "";
}

.company-about__col {
  width: 50%;
}

.company-about__col_left {
  float: left;
}

.company-about__col_right {
  float: right;
}

.company-about__span {
  font: 1.4em/1.57em "PT Sans", Arial, sans-serif;
  /*14/22*/
  letter-spacing: 0.035em;
  color: #767676;
}


/* --FOOTER--------------------------------------- */

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #777777;
}

.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__company-name {
  width: 200px;
}

.footer-company-name__span {
  font: 1.4em/1.57em "PT Sans", Arial, sans-serif;
  /*14/22*/
  color: #ffffff;
}

.company-email {
  text-decoration: underline;
  color: #ffffff;
}

.company-email:hover {
  text-decoration: none;
}

.footer__menu {
  width: 120px;
}

.footer-menu__link {
  font: 1.4em/1.86em "PT Sans", Arial, sans-serif;
  /*14/26*/
  text-decoration: underline;
  color: #ffffff;
}

.footer-menu__link:hover {
  text-decoration: none;
}

.footer__company-logo {
  position: relative;
  width: 180px;
  padding-left: 45px;
}

.logo_footer {
  position: absolute;
  top: 6px;
  left: 0;
}

.footer-comapny-logo__description {
  font: 1.4em/1.57em "PT Sans", Arial, sans-serif;
  /*14/22*/
  color: #ffffff;
}

.pixel-plus-link {
  text-decoration: underline;
  color: #ffffff;
}

.pixel-plus-link:hover {
  text-decoration: none;
}


/* --FEEDBACK--------------------------------------- */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  70% {
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  70% {
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.feedback {
  position: relative;
  width: 466px;
  height: 522px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 28px;
  text-align: center;
  background-color: #ffffff;
  z-index: 101;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.feedback_js {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feedback_hide,
.feedback__close_hide {
  display: none;
}

.feedback_show {
  display: block;
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}

.feedback__close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 25px;
  height: 25px;
  background-color: #757575;
  border: none;
  cursor: pointer;
}

.feedback__close::before,
.feedback__close::after {
  position: absolute;
  top: 3px;
  right: 12px;
  width: 2px;
  height: 20px;
  background-color: #ffffff;
  content: "";
}

.feedback__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback__title {
  margin-bottom: 25px;
  font: 2.4em "PT Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #535353;
}

.feedback__input,
.feedback__label {
  display: block;
  margin: 0 auto;
}

.feedback__input {
  width: 329px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  font: 1.4em "PT Sans", Arial, sans-serif;
  border: 2px solid #777777;
}

.feedback__input_error {
  font-style: italic;
  color: red;
  box-shadow: inset 0 0 20px red;
  border: 2px solid red;
}

.feedback__label {
  margin-bottom: 5px;
  font: 1.4em "PT Sans", Arial, sans-serif;
  color: #535353;
}

.feedback__error {
  font: italic 1.4em "PT Sans", Arial, sans-serif;
  color: #dc7f7f;
}

.feedback__textarea {
  height: 120px;
  margin-bottom: 0;
}

.feedback__submit {
  width: 127px;
  margin-top: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  font: 1.777em "PT Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #777777;
  cursor: pointer;
}


/* __Media queries____________________________________________________ */

@media screen and (max-width: 1299px) {
  .slider {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .container {
    width: auto;
  }
  .catalog__centerblock {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 600px;
  }
  .catalog__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__item {
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .catalog__item:nth-of-type(3n) {
    margin-right: 15px;
  }
  .catalog__item:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 945px) {
  .main-menu__link {
    padding-left: 0px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 940px) {
  .main-menu {
    text-align: center;
  }
}


/* iPad (768*1024) */

@media screen and (max-width: 768px) and (orientation: portrait) {
  .catalog__items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 25px;
  }
}

@media screen and (max-width: 705px) {
  .catalog__items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 7px;
  }
  .catalog__item {
    margin-right: 0px;
  }
  .catalog__item:nth-of-type(3n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 686px) {
  .catalog__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}

@media screen and (max-width: 562px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .header__logo {
    float: none;
    margin-bottom: 20px;
  }
  .header__contacts {
    width: 100%;
  }
  .container_footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__company-name {
    margin-right: 10px;
  }
  .footer__company-logo {
    margin-top: 10px;
  }
}


/* iPhone 6 Plus(414*736) */

@media screen and (orientation: portrait) and (max-width: 414px) {
  .catalog__item {
    width: 100%;
  }
  .company-about {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .company-about__col {
    width: 100%;
  }
  .company-about__col_left {
    float: none;
  }
  .company-about__col_right {
    float: none;
  }
  .feedback {
    width: 100%;
  }
  .feedback__close {
    top: 0;
    right: 0;
  }
}